<chat-component [userName]="userNameFormControl.value"></chat-component>

<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Welcome</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<label for="user-name">Enter your name</label>
				<div class="input-group">
					<input
						id="user-name"
						class="form-control"
						name="userName"
            			[formControl]="userNameFormControl"
					/>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="startConnection(modal)">Ok</button>
	</div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)" id="open-modal-btn" style="display: none;"></button>

