*{
    display: flex;
    flex-direction: column;
}

chat-component{
    margin-top: 10%;
}

.modal-header {
    background-color: #005CFA;
    color: #ffffff;
}

.input-container-name label{
    font-weight: 600;
    margin: 17px 0 17px 0;
}

.input-name {
    width: 100%;
}

.modal-footer{
    margin-top: 27px;
}